.bold { font-weight:bold;}
.text-teal{color:teal;}
.bg-teal{background:teal;}
.bg-bluedk{background:#004d99;}
.text-bluedk{color:#004d99;}
.bg-bluedark{background-color:#002699;}
.bg-blue{background-color:#058FD0;}
.bg-bluelt{background-color:#49BBF1;}
.bg-bluelight{background-color:#BEEAFF;}
.bg-cyandk {  background-color:#2AC4CC;	 }
.bg-cyanlt {  background-color:#57E7EF;	 }
.bg-cyanlight {  background-color:#ECFEFF;	 }
.bg-orange{background-color:#FF4300;}
.bg-orangelt { 	background-color:#FFE4C2; }
.bg-orangelight { 	background-color:#FFF5E8; }
.bg-greendk { 	background-color:#05742E; }
.bg-greenlt { 	background-color:#76ffc2; }
.bg-greenlight { 	background-color:#c2ffe4; }
 